<form>
    <div>
        <label for="name">Name:</label>
        <input id="name" formContorlName="Name">
    </div>
    <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="Email"> 
    </div>
    <div>
        <label for="address"> Address:</label>
        <input id="address">
    </div>
    <div>
        <label for="mobile">Mobile:</label>
        <input id="mobile">
    </div>

    <button type="submit" style="font-size: 16px;padding:10px 20px ">Register</button>
</form>